{
  "extends": "eslint:recommended",

  "env": {
    "es2020": true,
    "node": true,
    "mocha": true
  },

  "rules": {
    "arrow-spacing": ["error",  {"before": true, "after": true}],
    "brace-style": ["error", "1tbs"],
    "callback-return": ["error", ["callback", "cb", "fn", "next"]],
    "computed-property-spacing": ["error", "never"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "linebreak-style": ["error", "unix"],
    "no-inner-declarations": ["error", "both"],
    "no-useless-call": "error",
    "no-var": "error",
    "one-var": ["error", "never"],
    "operator-assignment": ["error", "never"],
    "operator-linebreak": ["error", "after"],
    "quotes": ["error", "single"],
    "space-before-function-paren": ["error", "always"],
    "wrap-iife": ["error", "inside"]
  }
}
